<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 화면</title>
</head>
<body>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
    {% endfor %}
    로그인
    <form action="{{ url_for('login') }}" method="post">
        <input type="text" name="uesrId" id="userId">
        <input type="password" name="password" id="password">
        <button type="submit">로그인</button>
    </form>

    <form action="{{ url_for('signupPage') }}">
        <button type="submit">회원가입</button>
    </form>
</body>
</html>