<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList 메인 페이지</title>
</head>
<body>
    <form action="{{url_for('logout')}}">
        <button type="submit">로그아웃</button>
    </form>

    <h1>TodoList</h1>

    <form action="{{ url_for('addTodo')}}" method="post">
        <input type="text" name="content">
        <button type="submit">추가</button>
    </form>

    <h3>해야할 일</h3>
    {% for now in todos %}
        {% if now.done == False %}
        <p>{{now.content}} 
            <form action="{{ url_for('updateTodo', todoId=now.id) }}" method="post"><input type="submit" name="" id="" value="변환"></form>
            <form action="{{ url_for('delTodo', todoId=now.id) }}" method="post"><input type="submit" value="삭제"></form> 
        </p>
        {% endif %}
    {% endfor %}

    <h3>한 일</h3>
    {% for now in todos %}
        {% if now.done == True %}
        <p>{{now.content}} 
            <form action="{{ url_for('updateTodo', todoId=now.id) }}" method="post"><input type="submit" name="" id="" value="변환"></form>
            <form action="{{ url_for('delTodo', todoId=now.id) }}" method="post"><input type="submit" value="삭제"></form> 
        </p>
        {% endif %}
    {% endfor %}
</body>
</html>